[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {extras = ["argon2"], version = "*"}
misaka = "*"
bcrypt = "*"
django-bootstrap4 = "*"
moviepy = "*"
keras = "*"
beautifulsoup4 = "*"
Pillow = "*"
gunicorn = "*"
django-heroku = "*"
psycopg2 = "*"
prettyconf = "*"

[dev-packages]

[requires]
python_version = "3.9"
